.contacts {
  display: flex;
  flex-direction: column;
}

.contacts__title {
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}

.contacts__telephone {
  color: $white;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.contacts__email {
  color: $white;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}