// Colors

$main-color: #131316;
$white: #ffffff;
$red: #FF0000;
$blue-gradient: linear-gradient(87.23deg, rgba(128, 26, 179, 0) -91.42%, #4C4CFF 99.79%);

// Viewport

$mobile-width: 320px;
$desktop-width: 1000px;