.footer {
  @include wrapper-margin;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 26px;
}

.footer__title {
  color: $white;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}