.new__container {
  @include wrapper-margin;
}

.new {
  margin-bottom: 50px;
}

.new__title {
  font-size: 32px;
  font-weight: 400;
  line-height: 43px;
  text-align: center;
  color: $white;
  margin-top: 0;
  margin-bottom: 27px;
}